@import "../_variables"
@import "./typography"

topmargin=30px
listmargin=topmargin 10px 0
headerh=35px
minw=350px
thirty=33%
half=50%
marg=10px

.biglink
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index 10
    
&:global(.device-lt700) .item
    flex 1 1 s("calc(%s - %s)", hundred, marg * 2) !important
    width s("calc(%s - %s)", hundred, marg * 2) !important
    
&:global(.device-phone) .item
    min-width (minw / 2) !important

.item
    flex 1 1 s("calc(%s - %s)", thirty, marg * 2)
    width s("calc(%s - %s)", thirty, marg * 2)
    min-width minw
    background white
    box-shadow 0 3px 6px rgba(black, 0.2)
    border-radius 4px
    list-style none
    margin marg
    transition all 2s mdtiming, box-shadow 1s mdtiming
    position relative
    min-height (headerh * 3)
    overflow hidden
    color #444
    opacity 0
    transform translateX(50px)
    display flex

    a, a:link, a:visited, a:active
        color #aaa
        text-decoration none
        transition color 0.5s mdtiming
        cursor pointer
        &:hover
            color #666

    &:hover
        box-shadow 0 6px 12px rgba(black, 0.4)
    &.active
        width 100%
        height s("calc(%s - %s)", hundred, (marg * 2 - topmargin))
        max-width initial
        margin -30px -10px 0
        flex 2 2 100%
    &.inactive
        width 0
        height 0
        padding 0
        margin 0
        overflow hidden
        flex 0 0 0
        min-height 0
    &.file, &.readme
        .smallcontent
            bottom 0
    &.file .smallcontent
        color #aaa
        transition color 0.5s mdtiming
        &:hover
            color #666
    &.readme
        flex 2 2 s("calc(%s - %s)", half, marg * 2)
        width s("calc(%s - %s)", half, marg * 2)
        .smallcontent
            display block
            position static
            margin-top headerh
            padding 0 10px 10px
            overflow hidden
            .hidden
                display none
    &.primereadme
        flex 3 3 s("calc(%s - %s)", thirty * 2, marg * 2)
        width s("calc(%s - %s)", thirty * 2, marg * 2)

.header, .footer
    position absolute
    top 0
    left 0
    right 0
    height headerh
    line-height headerh
    text-indent 15px
    box-shadow 0 2px 4px rgba(black, 0.05)
    text-transform capitalize

.footer
    box-shadow 0 -2px 4px rgba(black, 0.05)
    top auto
    bottom 0

.smallcontent, .bigcontent
    position absolute
    top headerh
    bottom headerh
    left 0
    right 0
    display flex
    align-items center
    justify-content center
    align-self stretch
    height auto
    width 100%

.readmeContent
    padding 15px

.bigcontent
    position static
    margin headerh 0
    padding 0 10px 10px
    overflow hidden

.hint
    margin 15px 0
    padding 0
    font-weight 100

.icon
    fsize=headerh/2
    height headerh
    width headerh
    font-size fsize
    float right
    text-indent 0
    position relative
    border-radius 100%
    transition all 0.5s mdtiming
    &:hover
        background rgba(black, 0.1)
    :global .mdi
        display flex
        align-items center
        justify-content center
        height 100%
        width 100%

.tooltip
    clr=rgba(0, 0, 0, 0.8)
    position absolute
    right 0
    width 150px
    font-size 10pt
    line-height 12pt
    text-align right
    color #FFF
    background-color clr
    padding 5px
    bottom 100%
    transition all 0.5s mdtiming
    z-index -1
    opacity 0
    transform translateY(-10px)
    border-top-left-radius 4px
    border-top-right-radius 4px
    &:before
        arrsize=5px
        content ""
        position absolute
        width 0
        padding 0
        font-size 0px
        bottom (0 - arrsize)
        right (headerh/2 - arrsize)
        border-top solid arrsize clr
        border-left solid arrsize transparent
        border-right solid arrsize transparent

&:hover > .tooltip
    opacity 1
    transform none
    z-index 11

.previewImage
    display: block;
    width: calc(100% + 20px);
    margin: 0 -10px -10px;
    position: relative;
    overflow: hidden;
    display flex
    align-self stretch
    background black
    img
        width: 100%;
        margin: 0;
        padding: 0;
        align-self center

.previewImageQuote
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
    width: 45px;
    font-size: 24pt;
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.4);
    font-weight: 100;

.previewImageContent
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px 10px;
    background-color: rgba(black, 0.8);
    color: rgba(white, 0.4);
    transition: all 0.5s mdtiming;
    opacity 0
    z-index -1
    transform: translateY(100%)
    
    overflow auto

    max-height: 100%;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
    
    &:after
        font-family
    &:hover, &.active:hover
        transform none
        color: white;
    &.active
        transform: translateY(calc(100% - 60px));
        opacity 1
        z-index 1
        
    &::-webkit-scrollbar-track {
        background rgba(white, 0.2)
    }
     
    &::-webkit-scrollbar-thumb {
        background rgba(white, 0.4)
    }
        
:global(.apple) .previewImageContent
    overflow-x: hidden;
    overflow-y: scroll;

.imagePreviewContainer
    display block
    position relative
    top: auto;
    bottom: auto;
    padding: 0 10px 10px;
    background-color: #000;
    max-height 200px
    transition all 3s mdtiming
    &:hover
        max-height 1000px
