@import "../_variables"
topmargin=30px
listmargin=topmargin 10px 0
headerh=35px

.list
    display flex
    flex-flow row wrap
    align-content flex-start
    margin 0
    padding listmargin
    height s("calc(%s - %s)", hundred, topmargin)
    overflow-x hidden
    overflow-y auto
    &:after
        display block
        width 100%
        flex 2 2 100%
        content ""
