@import "../_variables"

.wrapper
    background #ddd
    position relative
    width 100%
    height 100%
    overflow hidden

.header
    position absolute
    top 0
    left 0
    right 0
    height headerheight
    display flex
    flex-flow row wrap
    box-shadow 0 6px 12px rgba(0, 0, 0, 0.2)
    background white
    z-index 9
    border-bottom solid 1px rgba(black, 0.3)
    h1, h2
        padding 0
        margin 0
        text-indent 25px
        font-weight 100
        color #888
        font-size 10pt
    h1
        flex 2 2 100%
        display flex
        align-items center
        font-size 20pt
        height 60%
    h2
        flex 1 1 100%
        padding-bottom 5px
        color #aaa
    a, a:link, a:visited, a:active
        color #aaa
        text-decoration none
        transition color 0.5s mdtiming
        &:hover
            color black

.div
    margin 0 5px

.content
    position absolute
    perspective 600px
    top headerheight
    left 0
    bottom 0
    right 0
    overflow-x hidden
    overflow-y auto
